doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/post.js')
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
        h3.text-muted Page Analytics
      br
      hr
      block content
      br
      br
      .jumbotron
        h1 Page Analytics
        p.lead
          | This application keeps track of how much time a user spent on every page. By clicking the button below, you can see for yourself these details as a table, chart, etc etc!
        p
          a.btn.btn-lg.btn-success(href='/usages', role='button') View Statistics
      hr
      p
        | You've beein in this page for 
        span#result 0 seconds
        input#secresult(type='hidden', value='')
        |  !!!