extends layout

block content
  h1= title
  script(type='text/javascript' src='/javascripts/core.js')
  link(rel='stylesheet', href='/stylesheets/usages.css')
  link(rel='stylesheet' href='http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css')
  script(type='text/javascript' src='http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js')
  script(type='text/javascript' src='/javascripts/highcharts.js')
  script(type='text/javascript' src='/javascripts/highcharts-3d.js')
  script(type='text/javascript' src='/javascripts/exporting.js')
  br
  div#status
  ul#tabs.nav.nav-tabs(role='tablist', data-tabs='tabs')
   li.active
    a(href='#home', role='tab', data-toggle='tab') Dashboard
   li
     a(href='#requests', role='tab', data-toggle='tab') Requests
   li
     a(href='#avgtimes', role='tab', data-toggle='tab') Avg. Time Spent
   li
     a(href='#browser', role='tab', data-toggle='tab') Browser
   li
     a(href='#settings', role='tab', data-toggle='tab') Settings
  div#tab-content.tab-content
    div#home.tab-pane.active
     br
     div.row
      div.col-md-6
       div#container(style='height: 300px; margin: 0 auto;')
      div.col-md-6
       div#req-container(style='height: 300px; margin: 0 auto;')
    div#requests.tab-pane
     br
     div.row
      div.col-md-6
       table#reqs(border="1", cellpadding="15", class="table table-striped table-bordered")
        thead
         tr
          th Url
          th User Agent
          th Date
        tfoot
         tr
          th Url
          th User Agent
          th Date
        tbody
         - each item in items
          tr
           td
            a(href=item.url)
             = item.url
           td
             = item.user_agent
           td
             = item.simple_date
      div.col-md-6
       div#req_container(style='height: 300px; margin: 0 auto;')
    div#avgtimes.tab-pane
     br
     div.row
      div.col-md-6
       table#durations(border="1", cellpadding="15", class="table table-striped table-bordered")
        thead
         tr
          th Url
          th Duration
          th Date
        tfoot
         tr
          th Url
          th Duration
          th Date
        tbody
         - each item in items
          tr
           td
            a(href=item.url)
             = item.url
           td
             = item.description
           td
             = item.simple_date
      div.col-md-6
       div.pull.pull-right
        | Change page&nbsp;&nbsp;
        select#pg_selector
         option(value='/') /
         option(value='/about') /about
         option(value='/contact') /contact
         option(value='/dashboard') /dashboard
         option(value='/settings') /settings
       div#avg_container(style='height: 300px; margin: 0 auto;')
    div#browser.tab-pane
     br
     div.row
      div.col-md-6
       table#shares(border="1", cellpadding="15", class="table table-striped table-bordered")
        thead
         tr
          th Browser
          th Count
        tfoot
         tr
          th Browser
          th Count
        tbody
          tr
           td
            | Chrome
           td
            | 45%
          tr
           td
            | IE 9.0
           td
            | 35%
          tr
           td
            | IE 10.0
           td
            | 10%
          tr
           td
            | Firefox
           td
            | 5%
          tr
           td
            | Other
           td
            | 5%
      div.col-md-6
       div#browser_container(style='height: 300px; margin: 0 auto;')
    div#settings.tab-pane
     br
     div.row
      div.col-md-6
       .panel.panel-default
        .panel-heading Export Analytics Data
        .panel-body
         a.btn.btn-success
          | Export All Requests
         br
         br
         i includes page time spent info, referrers...
      div.col-md-6
       .panel.panel-default
        .panel-heading Purge Analytics Data
        .panel-body
         a.btn.btn-danger(id='remove')
          | Delete All Data
         br
         br
         i cannot be undone!