extends ../layout

block content
  h1= title
  p Welcome to #{title}
  br
  p
   | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum metus a metus tincidunt, quis accumsan ante iaculis. Integer et neque sapien. Nulla vehicula magna a dolor ultricies dapibus a vitae felis. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In venenatis tempus rhoncus. Integer tristique adipiscing est laoreet cursus. Quisque sollicitudin faucibus diam eget adipiscing. Morbi mattis nunc at ipsum consequat varius. Nullam sit amet diam sollicitudin, viverra orci et, tempus odio. Aliquam in vulputate mauris. Mauris eget interdum sem, sed tempus erat. Duis ac quam in nibh egestas facilisis. Vivamus fringilla sed leo vitae consequat. Phasellus adipiscing metus ut leo sodales, at dictum nisi varius.
  p
   | Pellentesque congue venenatis mauris vel porta. Suspendisse consequat cursus iaculis. In rhoncus nisl ac est tincidunt, et condimentum lacus blandit. Morbi sapien mauris, porttitor ac tincidunt pellentesque, sagittis in leo. Duis ultricies velit bibendum placerat porttitor. Nam vel lectus dolor. Sed suscipit convallis lorem, consequat dignissim libero facilisis ut.
  p
   | Pellentesque mollis justo vitae mauris luctus, vitae auctor neque pulvinar. Donec pulvinar metus a est volutpat auctor. Ut ac hendrerit nunc. Cras at erat sodales, condimentum lacus posuere, tempus quam. Aliquam lectus magna, molestie eu diam eu, rhoncus adipiscing magna. Duis vulputate nisl sed lacus adipiscing ultricies. Nunc fermentum bibendum odio, quis pharetra ipsum ullamcorper in. Nullam pellentesque et lorem ac rhoncus. Mauris venenatis tempor odio. Nam eleifend ipsum leo, quis iaculis sapien hendrerit non. Vestibulum pharetra sapien tellus, vel lacinia odio tristique a.
